{:paths ["src"]
 :deps {nano-id {:mvn/version "1.0.0"}}
 :aliases
{:demo
 {:extra-deps {cljs-bean {:mvn/version "1.5.0"}}}
 :shadow-cljs
 {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.5"}}
  :main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
